.services {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.services__title {
  text-align: center;
  margin: 0 0 40px 0;
}

.services__list-service {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-areas:
    "price1 price2 price3 price4"
    "price1 price2 price3 price4"
    ". . . .";
  grid-gap: 0 50px;
}

.services__item-service {
  flex: 1;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  min-height: 465px;
  max-height: 921px;
  background-color: var(--card-color);
  padding: 83px 55px 40px;
  border-radius: 15.63vw 15.63vw 0 0;
}

// .services__list-service {
//   display: flex;
//   gap: 30px;
//   flex-wrap: wrap;
//   justify-content:space-between;
// }

// .services__item-service {
//   flex: 1;
//   width: 100%;
//   // max-width: 300px;
//   height: 100vh;
//   min-height: 465px;
//   max-height: 921px;
//   background-color: var(--card-color);
//   padding: 83px 55px 40px;
//   border-radius: 15.63vw 15.63vw 0 0;
// }

.services__item-service:nth-child(1) {
  grid-area: price1;
  max-height: 690px;
  border-radius: 15.63vw 15.63vw 0 300px;
  position: relative;
  box-shadow:
    -22px 28px 70px rgba(58, 63, 74, 10%),
    -5px 5px 11px rgba(58, 63, 74, 5%);

  background-image: url(../../../images/autograph.png);
  background-repeat: no-repeat;
  background-position: 80% 80%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 20%);
    background-image: url(../../../images/services-1.jpg);
    background-position: 0 100%;
    border-radius: 15.63vw 15.63vw 0 0;
    z-index: -1;
  }
}

.services__item-present:before {
  content: '+';
  position: absolute;
  left: -20px;
}

.services__item-service:nth-child(2) {
  grid-area: price2;
  position: relative;
  min-height: 920px;

  & > .services__list-filling:nth-child(5) {
    & > .services__item-filling:before {
      content: '+';
      position: absolute;
      left: -20px;
    }
  }
}

.services__item-service:nth-child(3) {
  grid-area: price3;
  max-height: 500px;
  // position: relative;
  z-index: 2;
  transform: rotate(-5deg);
  background-image: url(../../../images/services-2.jpg);
  background-position: 0;
  background-size: cover;
  border-radius: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--card-color);
    border-radius: 15.63vw 15.63vw 0 0;
  }

}

// .services__item-text {
//   position: relative;

// }

.services__item-fill {
  position: relative;
}



.services__item-tooltip {
  max-width: 450px;
  width: 150%;
  position: absolute;
  // bottom: 0;
  // left: -120%;
  bottom: 30px;
  left: 0;
  transform: rotate(5deg);
  background-color: var(--font-color-light);
  padding: 20px;
  border: 1px solid var(--font-color);
  border-radius: 20px;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;

  &::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: var(--font-color-light);
    bottom: -6px;
    right: 50%;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

}

.services__item-tooltip_active {
  opacity: 1;
  visibility: visible;
}

.services__item-service:nth-child(4) {
  grid-area: price4;
  max-height: 800px;
  position: relative;
}

.services__list-filling:nth-child(2) {
  list-style: disc;
  margin: 18px 0 50px 20px;
}

.services__subtitle {
  text-align: center;
}

.services__list-filling {
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.services__list-fill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 17px;
  margin-bottom: 17px;
  border-bottom: 1px solid black;
}

.services__cost {
  margin: 10px 0 0;
}

.services__image {
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: 2;
  filter: sepia(0.3);
}

.services__image-dance {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(+50%, 0);
  // z-index: 2;
  max-width: 300px;
  width: 100%;
  max-height: 411px;
  filter: sepia(0.3);
}

.services__backlight {
  bottom: 0;
  right: 0;
  max-width: 600px;
  max-height: 600px;
  filter: blur(100px);
}

@media (max-width:1407px) {
  .services__list-service {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-areas:
      "price1 price2 price3"
      "price1 price2 price4"
      ". . price4";
    grid-gap: 50px 50px;
  }
}

html {
  outline: red solid 1px;
}

@media (max-width: 1200px) {
  .services__item-tooltip {
    bottom: -50%;
    left: 0;
  }

}

@media (max-width:1115px) {
  .services__list-service {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-areas:
      "price1 price2"
      "price3 price2"
      "price3 price4";
    grid-gap: 50px 87px;
    align-items: baseline;
  }

  .services__item-service {
    max-width: 350px;
    margin: 0 auto;
  }

  .services__item-service:nth-child(1) {
    border-radius: calc(15.63vw * 1.5) calc(15.63vw * 1.5) 0 300px;
  }

  .services__item-service:nth-child(2), .services__item-service:nth-child(4), .services__item-service:nth-child(3)::after {
    border-radius: calc(15.63vw * 1.5) calc(15.63vw * 1.5) 0 0;
  }
}

@media (max-width:813px) {
  .services__item-tooltip {
    max-width: 210px;
  }
  .services__list-service {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-areas:
      "price1"
      "price2"
      "price3"
      "price4";
    grid-gap: 50px 87px;
    align-items: baseline;
  }

  .services__item-service {
    margin: 0 auto;
  }

  .services__item-service:nth-child(1) {
    border-radius: calc(15.63vw * 3) calc(15.63vw * 3) 0 300px;
  }

  .services__item-service:nth-child(2), .services__item-service:nth-child(4), .services__item-service:nth-child(3)::after {
    border-radius: calc(15.63vw * 3) calc(15.63vw * 3) 0 0;
  }
}

@media (max-width: 730px) {
  .services__image {
    width: 100%;
    bottom: -7vw;
  }
}

@media (max-width:462px) {
  .services__list-service {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-areas:
      "price1"
      "price2"
      "price3"
      "price4";
    grid-gap: 50px 87px;
    align-items: baseline;
  }

  .services__item-service {
    max-width: 400px;
    margin: 0 auto;
  }

  .services__item-service:nth-child(1) {
    border-radius: calc(15.63vw * 3) calc(15.63vw * 3) 0 300px;
  }

  .services__item-service:nth-child(2), .services__item-service:nth-child(4), .services__item-service:nth-child(3)::after {
    border-radius: calc(15.63vw * 3) calc(15.63vw * 3) 0 0;
  }
}

@media (max-width:400px) {

  .services__item-service {
    padding: 93px 20px 40px;
  }

  .services__image {
    width: 100%;
    bottom: -9vw;
  }
}



// .uiverse {
//   position: relative;
//   background: #ffffff;
//   color: #000;
//   padding: 15px;
//   margin: 10px;
//   border-radius: 10px;
//   width: 150px;
//   height: 50px;
//   font-size: 17px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
//   cursor: pointer;
//   transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
// }

// .tooltip {
//   position: absolute;
//   top: 0;
//   font-size: 14px;
//   background: #ffffff;
//   color: #ffffff;
//   padding: 5px 8px;
//   border-radius: 5px;
//   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
//   opacity: 0;
//   pointer-events: none;
//   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
// }

// .tooltip::before {
//   position: absolute;
//   content: "";
//   height: 8px;
//   width: 8px;
//   background: #ffffff;
//   bottom: -3px;
//   left: 50%;
//   transform: translate(-50%) rotate(45deg);
//   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
// }

// .uiverse:hover .tooltip {
//   top: -45px;
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
// }

// svg:hover span,
// svg:hover .tooltip {
//   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
// }

// .uiverse:hover,
// .uiverse:hover .tooltip,
// .uiverse:hover .tooltip::before {
//   background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
//   color: #ffffff;
// }


