@keyframes drive {
  0% {
    transform: translate(-30%, 0);
  }
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20%, 0);
  }
  75% {
    transform: translate(-10%, 0);
  }
  100% {
    transform: translate(-30%, 0);
  }

}

.coach{
  width: 100%;
  max-width: 1600px;
  margin: 380px auto;
}

.coach__box-request{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.coach__list {
  padding: 40px 50px 40px 88px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.coach__item-accent{
  padding: 12px 0;
  position: relative;
  font-family: 'NinaCTT';
  font-size: 18px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/star-2.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}

.coach__introduction {
  max-width: 506px;
  width: 100%;
}

.coach__introduction-text {
  width: 100%;
}

// .coach__scheme {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin: 100px 0 0;
// }

.coach__scheme {
  display: grid;
  grid-template-columns:  128px repeat(2, 1fr) 128px;
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr)) ;
  grid-template-areas:
    "startA stroc1 car finishB"
    "startA lineC lineC finishB"
    "startA stroc2 stroc2 finishB"
    ;
  grid-gap: 0 20px;
  margin: 100px 0 0;
}

.coach__start {
  grid-area: startA;
}

.coach__finish {
  grid-area: finishB;
}

.coach__text-description {
  grid-area: stroc1;
}

.coach__box-img-car {
  grid-area: car;
  align-self: flex-end;
  width: 100%;
  z-index: -1;
  justify-self: center;
  display: flex;
  justify-content: center;
}

.coach__line {
  grid-area: lineC;
  height: 2px;
  background-color: var(--font-color);
  width: 100%;
}



.coach__box-description {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid var(--font-color);
}

.coach__box-content {
  margin: 0 20px;
}

.coach__text-description {
  margin: 0 80px 32px 20px;
  max-width: 520px;
  font-family: 'NinaCTT';
  font-size: 18px;
}

.coach__box-text {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 0 20px;
  font-family: 'NinaCTT';
  font-size: 18px;
  text-align: center;
  gap: 30px;
  grid-area: stroc2;
}

.coach__button {
  margin: 90px 0 0;
  background-color: white;
  border: none;
  border-radius: 100px 0 200px 100px;
  padding: 19px 0;
  max-width: 435px;
  width: 100%;
}

.coach__img-car {
  animation: drive 5s ease-in-out infinite;
  align-self: flex-end;
}

.coach__backlight {
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 600px;
  max-height: 600px;
  background-color: #D3CAC3 !important;
  filter: blur(200px);
}

@media (max-width: 1300px) {

  .coach__scheme {
    display: grid;
    grid-template-columns:  10vw 1fr 10vw;
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr)) ;
    grid-template-areas:
      "stroc1 stroc1 stroc1"
      "startA car finishB"
      "startA lineC finishB"
      "startA stroc2 finishB"
      ;
    margin: 100px 0 0;
  }

  .coach__text-description {
    align-self: baseline;
    margin: 0 0 32px 20px;
  }

  .coach__img-car {
    width: 40vw;
    justify-self: center;

  }

  .coach__start, .coach__finish {
    width: 10vw;
  }

}

 @media (max-width:930px) {


  .coach__box-text {
    flex-direction: column;

  }

  .coach__button {
    max-width: none;
  }
}

@media (max-width:800px) {

  .coach__scheme {
    display: grid;
    grid-template-columns:  10vw 1fr 10vw;
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr)) ;
    grid-template-areas:
      "stroc1 stroc1 stroc1"
      "startA car finishB"
      "startA lineC finishB"
      "stroc2 stroc2 stroc2"
      ;

    margin: 100px 0 0;
  }



  .coach__box-request {
    flex-direction: column-reverse;
    align-items: center;
  }

  .coach__introduction {
    text-align: center;
    margin: 0 0 20px;
  }

  .coach__box-text {
    flex-direction: column;
  }
}

@media (max-width:400px) {

  .coach__list {
    padding: 40px 50px 40px;
  }
}
