.academy {
  margin: 250px auto 50px;
  width: 100%;
  max-width: 1600px;
}

.conteiner {
  position: relative;
  margin: 0 100px;
}

.academy__title-line-first {
  font-family: var(--title-font), sans-serif;
  font-size: 80px;
  font-weight: 200;
}

.academy__title-line-second {
  margin: 48px 0 0 51px;
  font-family: var(--accent-font), 'Times New Roman', Times, serif;
  font-size: 100px;
}

.academy__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.academy__box-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1460px;
}

.academy__button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 0 0;
  width: 258px;
  height: 57px;
  border: none;
  border-right: 2px solid var(--font-color);
  background: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }

}

.academy__image {
  position: relative;
  // z-index: -1;
  margin: 30px 0 0 0;
  width: 39.74vw;
}

.academy__button-line::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgb(127,205,205);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(32%, rgba(127,205,205,1)), to(rgba(45,32,25,1)));
  background: -o-linear-gradient(bottom, rgba(127,205,205,1) 32%, rgba(45,32,25,1) 100%);
  background: linear-gradient(0deg, rgba(127,205,205,1) 32%, rgba(45,32,25,1) 100%);
}

.academy__text-button {
  margin: 0 20px 0 0;
  font-size: 24px;
}

.academy__text-button::before,
.academy__text-button::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: var(--font-color);
}

.academy__text-button::before {
  top: 0;
  left: 0;
  width: 100%;
}

.academy__text-button::after {
  top: 55px;
  right: 0;
  width: 40%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


@media (min-width:993px) {
  .academy__button:hover .academy__text-button::after {
    width: 100%;
    background: rgb(127,205,205);
    background: -webkit-gradient(linear, left top, right top, color-stop(24%, rgba(127,205,205,1)), to(rgba(45,32,25,1)));
    background: -o-linear-gradient(left, rgba(127,205,205,1) 24%, rgba(45,32,25,1) 100%);
    background: linear-gradient(90deg, rgba(127,205,205,1) 24%, rgba(45,32,25,1) 100%);
  }
  .academy__button:hover .academy__button-line::after {
    height: 55px;
  }
}

@media (max-width:900px) {
  .academy__box {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
  }
  .academy__box-images {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
  }
  .academy__image {
    margin: 40px 0 0;
    width: 100%;
  }
  .academy__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .academy__title-line-second {
    margin: 0;
  }
}

@media (max-width:586px) {
  .academy {
    margin: 220px auto 0;
  }
  .academy__title-line-first {
    font-size: clamp(1.875rem, -1.8844rem + 18.797vw, 5rem);
  }
  .academy__title-line-second {
    font-size: clamp(2.5rem, -2.0113rem + 22.5564vw, 6.25rem);
  }
}

@media (max-width:530px) {
  .conteiner {
    margin: 0 30px 0;
  }
}
