@-webkit-keyframes drive {
  0% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }
  75% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  100% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
}

@keyframes drive {
  0% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }
  75% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  100% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }
}

.coaching__conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 100px;
}

.coaching__title {
  text-align: end;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 691px) {
  .coaching__title {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .coaching__title {
    max-width: 65vw;
  }
}

@media (max-width: 624px) {
  .coaching__title {
    max-width: 60vw;
  }
}

.coaching__grid-box {
  display: grid;
  justify-items: center;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr)) ;
  grid-template-areas:
    "text1 wing1 text2 img1"
    "img2 img3 wing2 img1"
    "img2 img3 text3 text3"
    "button button button button";
  grid-gap: 40px 4vw;
  margin: 60px 0 0;
}

.coaching__wing-img {
  max-width: 101px;
}

.coaching__wing-img:nth-child(4) {
  grid-area: wing2;
  transform: rotate(90deg);
}

.coaching__text {
  text-indent: 30px;
}

.coaching__text:nth-child(1) {
  grid-area: text1;
}

.coaching__wing-img:nth-child(2) {
  grid-area: wing1;
}
.coaching__wing-img:nth-child(3) {
  grid-area: wing2;
}

.coaching__text:nth-child(3) {
  grid-area: text2;
}

.coaching__image-box:nth-child(5) {
  grid-area: img1;
  position: relative;
  display: flex;
  align-self: flex-start;
  margin: 0 28px 0 0;
  width: 100%;
  max-width: 249px;
  max-height: 280px;
}

.coaching__image-box {
  width: 100%;
  max-width: 278px;
  max-height: 312px;
}

.coaching__image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  max-width: 278px;
}

.coaching__image-box:nth-child(5)::after {
  content: '';
  position: absolute;
  bottom: 16px;
  left: 28px;
  z-index: 1;
  height: 100%;
  width: 100%;
  max-width: 249px;
  max-height: 280px;
  border: 1px solid black;
  border-radius: 0 0 50% 50%;
}

.coaching__image-box:nth-child(6) {
  grid-area: img2;
  position: relative;
  display: flex;
  align-self: end;
  margin: 0 0 0 23px;
  width: 100%;
}

.coaching__image-box:nth-child(6)::after {
  content: '';
  position: absolute;
  top: 25px;
  left: -23px;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 264px;
  max-height: 312px;
  border: 1px solid black;
  border-radius: 0 50% 0 0;
}
.coaching__image-box:nth-child(7) {
  grid-area: img3;
  position: relative;
  display: flex;
  align-self: end;
  width: 100%;
}

.coaching__image-box:nth-child(7)::after {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 279px;
  max-height: 280px;
  border: 1px solid var(--font-color);
  border-radius: 0 0 60% 0;
}

.coacing__box {
  grid-area: text3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coaching__button {
  grid-area: button;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  padding: 25px 0;
  width: 100%;
  max-width: 770px;
  max-height: 70px;
  border-radius: 35px;
  border: 1px solid var(--font-color);
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: var(--font-color);
  transition: all 1s ease-in-out;
}

.coaching__button-text {
  z-index: 1;
  margin: 0 10px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  visibility: hidden;
  background-color: var(--hover-color);
  transition: all 0.8s ease-in-out;
}

.coaching__button:active {
  transform: scale(0.8);
}

@media (max-width: 1280px) {
  .coaching__title {
    max-width: 900px;
  }
  .coaching__grid-box {
    grid-template-columns:  repeat(8, 1fr);
    grid-template-areas:
      "text1 text1 text1 wing1 text2 text2 img1 img1"
      "img2 img2 img3 img3 text2 text2 img1 img1"
      "img2 img2 img3 img3 wing2 wing2 img1 img1"
      "img2 img2 img3 img3 text3 text3 text3 text3"
      "button button button button button button button button";
    grid-gap: 40px 70px;
  }

  .coaching__image-box:nth-child(6) {
    justify-self: baseline;
    align-self: baseline;
  }

  .coaching__image-box:nth-child(7) {
    justify-self: baseline;
    align-self:flex-start;
  }
}

@media (max-width: 1000px) {
  .coaching__grid-box {
    grid-template-columns:  repeat(5, 1fr);
    grid-template-areas:
      "text1 text1 wing1 text2 text2"
      "text1 text1 img3 img3 img1"
      "img2 img2 img3 img3 img1"
      "img2 img2 img3 img3 wing2"
      "text3 text3 text3 text3 text3"
      "button button button button button";
    grid-gap: 50px;
  }

  .coaching__image-box:nth-child(6) {
    justify-self: baseline;
    align-self: baseline;
  }

  .coaching__image-box:nth-child(7) {
    justify-self: baseline;
    align-self:flex-start;
  }
}

@media (min-width:993px) {
  .coaching__button:hover {
    border: 1px solid var(--hover-color);
  }

  .coaching__button:hover .coaching__button-text {
    color: var(--font-color-light);
  }

  .type1:hover::after {
    transform: scale(150) translateX(2px);
    visibility: visible;
  }
}

@media (max-width: 740px) {
  .coaching__grid-box {
    grid-template-areas:
      "text1 text1 text1 img1 img1"
      "img2 img2 wing1 img1 img1"
      "img2 img2 text2 text2 text2"
      "img3 img3 img3 wing2 wing2"
      "img3 img3 img3 wing2 wing2"
      "text3 text3 text3 text3 text3"
      "button button button button button";
  }

  .coaching__image-box:nth-child(5) {
    min-width: 100px;
  }

  .coaching__image-box:nth-child(6) {
    justify-self: baseline;
    align-self: baseline;
    min-width: 100px;
  }

  .coaching__image-box:nth-child(7) {
    justify-self: baseline;
    align-self:flex-start;
  }

  .coaching__wing-img:nth-child(2) {
    transform: rotate(45deg);
  }
}

@media (max-width: 605px) {
  .coaching__grid-box {
    grid-template-columns:  repeat(2, 1fr);
    grid-template-areas:
      "text1 text1"
      "wing1 img1"
      "img2 img2"
      "text2 text2"
      "wing2 img3"
      "text3 text3"
      "button button";
  }

  .coaching__image-box:nth-child(5) {
    min-width: 100px;
  }

  .coaching__image-box:nth-child(6) {
    justify-self: baseline;
    align-self: baseline;
    min-width: 100px;
  }

  .coaching__image-box:nth-child(7) {
    justify-self: baseline;
    align-self:flex-start;
  }

  .coaching__wing-img:nth-child(2) {
    transform: rotate(90deg);
  }
}
