/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.format__title {
  text-align: end;
  width: 100%;
}

.format__image {
  pointer-events: none;
}

.format__box-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:  1fr 50px 29px 50px 2fr;
  grid-template-columns:  1fr 29px 2fr;
  -ms-grid-rows: repeat(auto-fill);
  grid-template-rows: repeat(auto-fill);
      grid-template-areas:
    "box2 line box1"
    "box4 line box3";
  grid-gap: 0 50px;
  margin: 36px 0;
}

.format__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &:nth-child(1) {
    // -ms-grid-row: 1;
    // -ms-grid-column: 5;
    grid-area: box1;

    & > .format__image {
      margin: 132px 0 0;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 100%;
      max-width: 600px;
    }
  }
  &:nth-child(2) {
    // -ms-grid-row: 1;
    // -ms-grid-column: 1;
    grid-area: box2;
    -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

    & > .format__box-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      text-align: end;
    }

    & > .format__image {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      -webkit-transform: rotate(-15deg);
          -ms-transform: rotate(-15deg);
              transform: rotate(-15deg);
      margin: 0 0 77px;
      width: 100%;
      max-width: 600px;
      -webkit-filter:
        grayscale(100%)
        sepia(0.3)
        drop-shadow(-63px -16px 30px rgba(58, 63, 74, 27%))
        drop-shadow(-12px -3px 13px rgba(58, 63, 74, 13%));
      filter:
        grayscale(100%)
        sepia(0.3)
        drop-shadow(-63px -16px 30px rgba(58, 63, 74, 27%))
        drop-shadow(-22px -13px 13px rgba(58, 63, 74, 13%));
    }
  }
  &:nth-child(3) {
    // -ms-grid-row: 3;
    // -ms-grid-column: 5;
    grid-area: box3;
    position: relative;
    margin: 135px 0 0;
    width: 100%;

    & > .format__image {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      -webkit-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
              transform: rotate(5deg);
      margin: 100px 0 0;
      width: 100%;
      max-width: 407.89px;
      max-height: 353.14px;
    }
  }
  &:nth-child(4) {
    // -ms-grid-row: 3;
    // -ms-grid-column: 1;
    grid-area: box4;
    -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
    margin: 50px 0 0;

    & > .format__box-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      text-align: end;
      margin: 0 0 50px;
    }

    & > .format__image {
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin: 0 0 128px 0;
      width: 100%;
      max-width: 410px;
    }
  }

  &:nth-child(2) > .format__subtitle,
  &:nth-child(4) > .format__subtitle,
  &:nth-child(1) > .format__subtitle,
  &:nth-child(3) > .format__subtitle{
    position: relative;
  }

  &:nth-child(2) > .format__box-text,
  &:nth-child(4) > .format__box-text {
    & > .format__subtitle {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -79px;
        z-index: 2;
        width: 29px;
        height: 30.5px;
        background-image: url(../images/star-1.png);
        background-size: 29px 30.5px;
      }
    }
  }

  &:nth-child(4) > .format__box-text {
    & > .format__subtitle {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -65px;
        width: 1px;
        height: 200px;
        background-color: var(--font-color);
      }
    }
  }

  &:nth-child(1) > .format__subtitle::after,
  &:nth-child(3) > .format__subtitle::after {
    content: '';
    position: absolute;
    top: 0;
    left: -79px;
    z-index: 2;
    width: 29px;
    height: 30.5px;
    background-image: url(../images/star-1.png);
    background-size: 29px 30.5px;
  }

  &:nth-child(2) > .format__text,
  &:nth-child(4) > .format__text {
    text-align: end;
    width: 100%;
    max-width: 380px;
  }

  &:nth-child(1) > .format__text,
  &:nth-child(3) > .format__text {
    width: 100%;
    max-width: 412px;
  }

  &:nth-child(1) > .format__inscription,
  &:nth-child(3) > .format__inscription {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: rotate(-13deg);
        -ms-transform: rotate(-13deg);
            transform: rotate(-13deg);
    width: 100%;
    max-width: 200px;
  }

  &::after {
    background-color: #fff;
  }
}

@media (max-width: 1203px) {
  .format__box-content {
    &:nth-child(4) > .format__box-text {
      & > .format__subtitle {
        &::before {
          bottom: 30px;
        }
      }
    }
  }
}

@media (min-width:993px) {
  .format__box-content:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
        -ms-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .format__certificate:hover {
    border-bottom: 2px solid var(--hover-color);
    color: var(--hover-color);
  }
}

.format__certificate {
  cursor: pointer;
  border-bottom: 2px solid var(--font-color);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.format__image-photographic {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  width: 100%;
  max-width: 280px;
  pointer-events: none;
  -webkit-filter:
    grayscale(100%)
    sepia(0.3)
    drop-shadow(-23px 66px 25px rgba(58, 63, 74, 17%))
    drop-shadow(-12px 23px 8px rgba(58, 63, 74, 10%));
  filter:
    grayscale(100%)
    sepia(0.3)
    drop-shadow(-23px 66px 25px rgba(58, 63, 74, 17%))
    drop-shadow(-12px 23px 8px rgba(58, 63, 74, 10%));
}

.format__inscription {
  font-family: 'NinaCTT';
  font-size: 24px;
}



.format__text  {
  margin: 28px 0;
}

.scroll-line {
  // -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  // -ms-grid-column: 3;
  position: relative;
  grid-area: line;
  margin: 0 auto;
  width: 1px;
  height: 70%;
  height: clamp(55rem, 32.9726rem + 45.7711vw, 78rem);
  background-color: var(--font-color);
}

@media (max-width: 880px) {
  .scroll-line {
    height: 50%;
  }
}

@media (max-width: 700px) {
  .scroll-line {
    height: 75%;
  }
  .format__box-content {
    &:nth-child(4) > .format__box-text {
      & > .format__subtitle {

        &::before {
          bottom: 20px;
          left: -65px;
        }
      }
    }
  }
}

@media (max-width: 700px ) {
  .format__box-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 29px 2fr;
        grid-template-columns: 29px 2fr;
    grid-template-rows: repeat(auto-fill) ;
    -ms-grid-rows: repeat(auto-fill) ;
    grid-template-areas: "line box1" "line box2" "line box3" "line box4";
    -ms-grid-template-areas: "line box1" "line box2" "line box3" "line box4";
    grid-gap: 0 50px;
  }

  .format__image {
    margin: 50px 0;
  }


  .format__box-content {
    &:nth-child(1) {
      & > .format__image {
        margin: 50px 0 0;
      }
    }
    &:nth-child(2) {
      -ms-grid-row: box2;
          grid-row: box2;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-direction: column-reverse;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              flex-direction: column-reverse;
      margin: 50px 0 0;

      & > .format__box-text {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: start;
      }

      & > .format__image {
        margin: 50px 0 0;
      }
    }

    &:nth-child(3) {
      margin: 50px 0 0;

      & > .format__image {
        margin: 50px 0 0;
      }
    }

    &:nth-child(4) {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-direction: column-reverse;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              flex-direction: column-reverse;
      margin: 100px 0 0;

      & > .format__box-text {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: start;
        margin: 70px 0 0;
      }

      & > .format__image {
        margin: 50px 0 0;
      }
    }

    &:nth-child(2) > .format__box-text,
    &:nth-child(4) > .format__box-text {
      & > .format__subtitle {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: -80px;
          z-index: 2;
          width: 29px;
          height: 30.5px;
          background-image: url(../images/star-1.png);
        }
      }
    }
  }
  // &:nth-child(1) {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(1) {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(2) {
  //   -ms-grid-row: 3;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(2) {
  //   -ms-grid-row: 3;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(3) {
  //   -ms-grid-row: 5;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(3) {
  //   -ms-grid-row: 5;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(4) {
  //   -ms-grid-row: 7;
  //   -ms-grid-column: 3;
  // }
  // &:nth-child(4) {
  //   -ms-grid-row: 7;
  //   -ms-grid-column: 3;
  // }
  .scroll-line {
    // -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    // -ms-grid-column: 1;
  }
  .scroll-line {
    // -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    // -ms-grid-column: 1;
  }
}
