/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.founders {
  margin: 50px 0;
  padding: 143px 0;
  border-radius: 950px 950px 0 0;
  background-color: var(--bg-acent-colog);
}

.founders__conteiner {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.founders__title {
  margin: 0 auto 0;
  text-align: center;
  max-width: 678px;
  width: 100%;
  color: var(--font-color-light);
}

.founders__logo {
  display: block;
  position: relative;
  margin: 50px auto 0;
  width: 100%;
  height: auto;
  max-width: 113px;

}
.founders__stars-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stars;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 130px;
  height: 150px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background-image: url(../images/star-3.png);
    background-size: contain;
  }

  background-image: url(../images/star-3.png);
  background-size: 55px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.founders__stars {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: stars-1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 100px 0 0;
  width: 60px;
  height: 60px;
  background-image: url(../images/star-3.png);
  background-size: contain;
}

.founders__box {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns:  1fr 8vw 2fr 8vw 1fr;
  grid-template-columns:  1fr 8vw 2fr 8vw 1fr;
  -ms-grid-rows: (minmax(120px, 1fr))[auto-fill];
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr)) ;
      grid-template-areas:
    "stars . . . ."
    ". box-text1 box-text1 . ."
    ". canyon canyon canyon ."
    ". . box-text2 box-text2 ."
    ". . . . stars-1";
  margin: 0 100px;
}

.founder__text-name,
.founder__text-role,
.founder__link,
.founder__text {
  position: relative;
  z-index: 2;
  color: var(--font-color-light);

}

.founder__text {
  text-indent: 20px;
}

.founder__text-span {
  padding: 0 0 0 30px;
  color: var(--font-color-light);
}

.link {
  position: relative;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &::before {
    content: '->';
    position: absolute;
    top: 0;
    left: -20px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--font-color-light);
  }
}

.link_black {
  position: relative;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;

  &::before {
    content: '->';
    position: absolute;
    top: 0;
    left: -20px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--font-color);
  }
}

.link-hover-line {
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.founder__text-name {
  font-size: 32px;
  font-weight: normal;
}

.founder__text-role {
  margin: 10px 0;
}

.founder__block-text:nth-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: box-text1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0 0 30px;
  width: 100%;
  max-width: 1030px;

  & > .founder__image {
    grid-area: found1;
    top: 0;
    right: -170%;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 25vw;
    max-width: 365px;
  }

  & > .founder__block-about {
    min-width: 250px;
  }
}


.founder__block-text:nth-child(3) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: box-text2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: baseline;
  margin: 30px 0 0;
  gap: 30px;
  max-width: 1245px;

  & > .founder__image {
    grid-area: found2;
    right: 0;
    left: -60%;
    bottom: 0;
    width: 25vw;
    max-width: 365px;

  }

  & > .founder__block-about {
    margin: 0 0 0 30px;
    min-width: 200px;
  }
}

.founder__image {
  position: absolute;
  z-index: 2;
  width: 100%;
  border-radius: 295px;
  outline: 3px solid var(--font-color-light);
}


.founder__box-canyon {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: canyon;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 35px;
  width: 100%;
  max-width: 893px;
  border: 2px solid var(--font-color-light);
}

.founder__image-canyon {
  width: 100%;
  max-width: 893px;
  pointer-events: none;
  mix-blend-mode: luminosity;
  z-index: -1;
}

@media (max-width: 1200px) {
  .founders__logo {
    margin: 50px auto 0;
  }
  .founders__box {
    -ms-grid-columns:  7vw 2fr 2fr 2fr 7vw;
    grid-template-columns:  7vw 2fr 2fr 2fr 7vw;
        grid-template-areas:
      "stars . . . ."
      ". box-text1 box-text1 . ."
      "canyon canyon canyon canyon canyon"
      ". . box-text2 box-text2 ."
      ". . . . stars-1";
  }

  .founders__stars-box {
    margin: 0 auto 50px;

  }

  .founders__title {
    max-width: 500px;
  }

  .founder__block-text:nth-child(1) {
    & > .founder__image {
      bottom: -100%;
    }
  }

  .founder__block-text:nth-child(3) {
    & > .founder__image {
      top: -250px;
    }
  }
  .founders__stars-box {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .founders__stars {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .founder__block-text:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .founder__block-text:nth-child(3) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    flex-direction: column;
  }
  .founder__box-canyon {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
}

@media (max-width: 1025px) {
  .founders__box {
    -ms-grid-columns:  7vw 2fr 2fr 2fr 7vw;
    grid-template-columns:  7vw 2fr 2fr 2fr 7vw;
        grid-template-areas:
      "stars . . . ."
      "box-text1 box-text1 box-text1 . ."
      "canyon canyon canyon canyon canyon"
      ". . box-text2 box-text2 box-text2"
      ". . . . stars-1";
  }

  .founder__block-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .founders__logo {
    margin: 50px auto 0;
  }


  .founder__block-text:nth-child(3) {
    & > .founder__block-about {
      margin: 0 0 0 20px;
    }

    & > .founder__text {
      margin: 0 0 0 20px;
    }
  }
  .founder__block-text:nth-child(3) {

    & > .founder__image {
      top: 0;
    }
  }

  .founder__box-canyon {
    padding: 15px;
  }
  .founders__stars-box {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .founders__stars {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .founder__block-text:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .founder__block-text:nth-child(3) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .founder__box-canyon {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
}

@media (min-width:993px) {
  .link:hover::before {
    left: 0;
    opacity: 1;
  }

  .link_black:hover::before {
    left: 0;
    opacity: 1;
  }

  .link-hover-line:hover {
    padding: 0 0 0 20px;
  }

  .founder__block-text:nth-child(3) {
    .founder__block-about{
      margin: 0 0 0 20px;
    }
  }


}

@media (max-width: 600px) {

  .founders__box {
    -ms-grid-columns:  1fr;
    grid-template-columns:  1fr;
        grid-template-areas:
      "stars"
      "found1"
      "box-text1"
      "found2"
      "box-text2"
      "stars-1";
    margin: 0 30px 0;
  }

  .founder__box-canyon {
    display: none;
  }

  .founders__stars-box {
    -ms-grid-column-align: start;
        justify-self: start;
    margin: 30px 0;
    margin-left: 30px;
  }

  .founders__stars {
    -ms-grid-column-align:end;
        justify-self:end;
    margin-right: 30px;
  }

  .founders__logo {
    margin: 50px auto 0;
  }

  .founders__title {
    max-width: 300px;
  }

  .founder__block-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .founder__image {
    position: relative;
    width: 100%;
  }

  .founder__block-text:nth-child(1) {

    & > .founder__image {
      position: relative;
      left: 0;
      width: 100%;
    }
  }

  .founder__image-canyon {
    padding: 0;
    width: 0;
    height: 0;
    border: none;
  }

  .founder__block-text:nth-child(3) {
    & > .founder__block-about {
      margin: 0;
    }

    & > .founder__text {
      margin: 0;

    }
    & > .founder__image {
      position: relative;
      left: 0;
      margin: auto;
      width: 100%;
    }
  }

  // .founders__stars-box {
  //   -ms-grid-row: 1;
  //   -ms-grid-column: 1;
  // }

  // .founders__stars {
  //   -ms-grid-row: 6;
  //   -ms-grid-column: 1;
  // }

  .founder__block-text:nth-child(1) {
    // -ms-grid-row: 3;
    // -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  // & > .founder__image {
  //   -ms-grid-row: 2;
  //   -ms-grid-column: 1;
  // }

  .founder__block-text:nth-child(3) {
    // -ms-grid-row: 5;
    // -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  // & > .founder__image {
  //   -ms-grid-row: 4;
  //   -ms-grid-column: 1;
  // }
}

