/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.reviews {
  position: relative;
}

.reviews__title {
  text-align: center;
  margin: 0 100px;
}

.reviews__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:  1fr 35px 1fr;
  grid-template-columns:  repeat(2, 1fr);
  -ms-grid-rows: 70px 35px ;
  grid-template-rows: 70px repeat(auto-fit, minmax(70px, 1fr));
      grid-template-areas:
    "about stars"
    "text1 text2"
    "text3 text3";
  grid-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 50px;
  margin: 65px auto ;
  max-width: 760px;
  background-color: var(--card-color);
  -webkit-box-shadow: -125px 1px 80px rgba(58, 63, 74, 7%),
    -48px 0.5px 25px rgba(58, 63, 74, 5%), -10.18px 0.07px 6px rgba(58, 63, 74, 3%);
  box-shadow:
    -125px 1px 80px rgba(58, 63, 74, 7%),
    -48px 0.5px 25px rgba(58, 63, 74, 5%),
    -10.18px 0.07px 6px rgba(58, 63, 74, 3%);
}

.reviews__images {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.reviews__images_on{
  -webkit-animation: ease-in-out vinil-on 3s forwards;
          animation: ease-in-out vinil-on 3s forwards;
}

.reviews__images_off{
  -webkit-animation: ease-in-out vinil-off 3s forwards;
          animation: ease-in-out vinil-off 3s forwards;
}

.reviews__about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__backlight {
  right: 0;
  bottom: 10%;
  max-width: 600px;
  max-height: 600px;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.reviews__name {
  margin: 0 0 8px;
  font-weight: bold;
}

.reviews__stars {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: stars;
}

.reviews__star-item {
  width: 29px;
}

.reviews__foto {
  margin: 0 25px 0 0;
  border-radius: 50%;
}

.reviews__box-text {
  align-self: flex-start;
}

.reviews__box-text:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text1;
}

.reviews__box-text:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: text2;
}

.reviews__box-text:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text3;
}

.reviews__subtitle {
  margin: 0 0 10px;
}

.reviews__box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--font-color);
}

.reviews__box-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0 60px 0;
}

.reviews__circle_active {
  width: 24px;
  background-color: var(--hover-color);
}

.reviews__wing-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 760px;
  overflow: hidden;
}
.slider__nav {
  z-index: 10;
  margin: 2rem 12px;
  border-radius: 50%;
  outline: 6px solid #c4b6a9;
  outline-offset: -6px;
  width: 12px;
  height: 12px;
  background-color: #c4b6a9;
  -webkit-box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
          box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider__nav:checked {
          -webkit-animation: check 0.4s linear forwards;
                  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked {
  width: 22px;
  height: 12px;
  border-radius: 6px;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          flex-flow: row nowrap;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196F3;
}
.slider__caption {
  margin: 2rem 0 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.slider__txt {
  margin-bottom: 3rem;
  max-width: 300px;
  color: #999;
}

@-webkit-keyframes check {
  50% {
    outline-color: var(--hover-color);
    background-color: var(--hover-color);
    -webkit-box-shadow: 0 0 0 12px var(--hover-color), 0 0 0 36px #7fcdcd29;
            box-shadow: 0 0 0 12px var(--hover-color), 0 0 0 36px #7fcdcd29;
  }
  100% {
    outline-color: var(--hover-color);
    -webkit-box-shadow: 0 0 0 0 var(--hover-color), 0 0 0 0 #7fcdcd00;
            box-shadow: 0 0 0 0 var(--hover-color), 0 0 0 0 #7fcdcd00;
    background-color: var(--hover-color);
  }
}

@keyframes check {
  50% {
    outline-color: var(--hover-color);
    background-color: var(--hover-color);
    -webkit-box-shadow: 0 0 0 12px var(--hover-color), 0 0 0 36px #7fcdcd29;
            box-shadow: 0 0 0 12px var(--hover-color), 0 0 0 36px #7fcdcd29;
  }
  100% {
    outline-color: var(--hover-color);
    -webkit-box-shadow: 0 0 0 0 var(--hover-color), 0 0 0 0 #7fcdcd00;
            box-shadow: 0 0 0 0 var(--hover-color), 0 0 0 0 #7fcdcd00;
    background-color: var(--hover-color);
  }
}

@-webkit-keyframes vinil-on {
  0% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes vinil-on {
  0% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}


@-webkit-keyframes vinil-off {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  99% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}


@keyframes vinil-off {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  99% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@media (max-width:1205px) {

  .reviews__images {
    display: none;
    -webkit-animation: none;
            animation: none;
  }

}

@media (max-width:760px) {
  .reviews__card {
    max-width: 100vw;

    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .reviews__images {
    display: none;
    -webkit-animation: none;
            animation: none;
  }

}

@media (max-width:480px) {

  .slider {
    min-height: 1000px;
  }

  .reviews__card{
    -ms-grid-columns:  1fr;
    grid-template-columns:  1fr;
    -ms-grid-rows: 70px 35px 70px 35px ;
    grid-template-rows: 70px 70px repeat(auto-fit, minmax(70px, 1fr));
        grid-template-areas:
    "about"
    "stars"
    "text1"
    "text2"
    "text3";

  }

  .reviews__about, .reviews__stars {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .reviews__box-text {
    text-align: center;
  }

  .reviews__about{
    -ms-grid-row: 1;
    -ms-grid-column: 1;

  }

  .reviews__stars{
    -ms-grid-row: 3;
    -ms-grid-column: 1;

  }

  .reviews__box-text:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;

  }

  .reviews__box-text:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;

  }

  .reviews__box-text:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;

  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 6px;
  background-color: var(--font-color);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--hover-color);
  width: 25px;
  height: 12px;
}

.swiper .swiper-notification {
  pointer-events: none;
  opacity: 0;
}

 .swiper-rtl {

  position: relative;
  z-index: 9;
}


.swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-next, .swiper-button-prev {

  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 20px;

  &::before {
    content: '';
    width: 2px;
    height: 25px;
    background-color: var(--font-color);
    position: absolute;
    top: 4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &::after {
    content: '';
    width: 2px;
    height: 25px;
    background-color: var(--font-color);
    position: absolute;
    bottom: 4px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

  }

  &:active::before, &:active::after {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (min-width: 993px) {
  .swiper-button-next, .swiper-button-prev {
    &:hover::before, &:hover::after {
      background-color: var(--hover-color);
    }
  }

  .swiper-pagination-bullet:hover {
    opacity: 0.5;
  }
}
