/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter';
  --accent-font: 'BluuNext';
  --title-font: 'SansationLight';
  --main-font-weight: 400;
  --main-accent-font-weight: 500;
  --main-title-font-weight: 700;
  --font-color: #2D2019;
  --font-color-light: #F9F3EF;
  --card-color: #F2E5D9;
  --hover-color: #7FCDCD;
  --bg-acent-colog: #6E9A9A;
}

