@font-face {
  font-family: 'Inter-Flex-Variable';
  src: url(./Inter-Variable.woff2) format('woff2 supports variations'),
          url(./Inter-Variable.woff2) format('woff2-variations');
  font-display: swap;
  font-weight: 400 785;

}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'),
      url(./Inter-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium'),
      url(./Inter-Medium.woff2) format('woff2'),
      url(./Inter-Medium.woff) format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'),
      url(./Inter-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
}


@font-face {
  font-family: 'BluuNext';
  src: local('BluuNext-Bold'), local('BluuNext'),
      url(./BluuNext-Bold.woff) format('woff'),
      url(./BluuNext-Bold.woff2) format('woff2'),
      url(./BluuNext-Bold.eot) format('eot');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SansationLight';
  src: local('SansationLight'), local('Sansation-Light'),
      url(./SansationLight.woff) format('woff'),
      url(./SansationLight.woff2) format('woff2');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'NinaCTT';
  src: local('NinaCTT Regular 400'), local('NinaCTT'),
      url(./ninactt.woff) format('woff'),
      url(./ninactt.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}
