.header {
  // max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  transform: translateY(0);
  transition: all 0.8s;
  background-color: #f9f3ef00;
  display: flex;
  justify-content: center;
}

.header_border {
  border-bottom: 1px solid var(--font-color);
  background-color: #F9F3EF;
  background-image: url(../images/100-90-8.png);
}

.header_hide {
  transform: translateY(-100%);
}

.header__conteiner {
  max-width: 1600px;
  width: 100%;
  padding: 20px 0 20px;
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 80px;
  max-width: 100px;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
}



/* .header__logo{
  width: 110px;
  height: 110px;
} */

.header__navigation {
  margin: 0 98px;
  display: grid;
  grid-template-columns:  minmax(110px, 1fr) minmax(198px, 1fr) minmax(115px, 1fr) repeat(3, minmax(75px, 80px));
  grid-template-rows: 1fr;
  grid-template-areas:
    ". . . . . .";
  grid-gap: 20px;
  align-items: center;
}

.header__nav-link {
  width: 100%;
  text-align: center;
}

.header__contacts {
  display: flex;
  gap: 20px;

}

.header__telegram-logo{
  width: 29px;
  height: 29px;
  background-image: url(../../images/telegram.png);
}

.header__whats-app-logo{
  width: 29px;
  height: 29px;
  background-image: url(../../images/telegram.png);
}

.header__button-container {
  display: none;
  height: 55px;
  width: 55px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.header__button,
.header__button::before,
.header__button::after {
  display: block;
  background-color: var(--font-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 4;
}

.header__button::before {
  content: '';
  margin-top: -8px;
}

.header__button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .header__button-container .header__button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .header__button-container .header__button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .header__button-container .header__button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.header__overflow {
  display: none;
}

.header__nav-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  // justify-content: space-between;
}



.link-hover, .link-hover-wite {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 0 5px 0;
  transition: all 0.3s ease;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }

  &::before {
    background-color: var(--hover-color);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--hover-color);
  }

  &:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  &:hover::after {
    transform: translate3d(0, 0, 0);
  }

  &:hover {
    color: var(--hover-color);
  }
}

.link-hover-wite {
  &::before {
    background-color: var(--font-color-light);
  }
  &::after {
    color: var(--font-color-light);
  }
  &:hover {
    color: var(--font-color-light);
  }
}

@media (max-width: 1250px) {
  .header__navigation {
    grid-template-columns:  minmax(110px, 1fr) minmax(198px, 1fr) minmax(115px, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-gap: 20px;
  }
}

@media (max-width: 1000px) {
  .header {
    background-color: none;
  }
  .header__button-container {
    position: relative;
    z-index: 20;
    display: flex;
    border-radius: 50%;
    background-color: var(--font-color-light);
    border: 1px solid var(--font-color)
  }

  .header__logo_hide {
    opacity: 0;
    visibility: hidden;
  }

  .header_border {
    border-bottom: none;
    background: none;
    background-image: none;
  }

  .header__overflow {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.779);
    opacity: 1;
    transition: all 1s;
    z-index: 2;
    visibility: visible;
  }

  .overflow_hidden {
    opacity: 0;
    visibility: hidden;
  }

  .header__navigation {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px;
  }

  .header__nav-box {
    max-width: 60%;
    position: absolute;
    z-index: 3;
    right: -100%;
    display: flex;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
  }

  .header__nav-box_active {
    right: 0;
    background-color: var(--font-color-light);
    height: 100vh;
    display: flex;
  }

  .header__contacts {
    min-width: 60%;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
  }

  .header__contacts_active {
    opacity: 1;
    visibility: visible;
  }
}

// @media (max-width: 539px) {
//   .header__conteiner {
//     max-width: 0vw;
//   }
// }

@media (max-width: 462px) {
  .header__conteiner {
    margin: 0 30px;
  }
  .header__nav-box {
    max-width: none;
    width: 100%;
  }
}


