.advantages {
  margin: 100px auto;
  max-width: 1600px;
}

.advantages__conteiner {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-areas:
    "title title ."
    "card1 . btn"
    "card1 card2 btn"
    "card3 card2 card4"
    "card3 . card4";
  grid-gap: 70px;
  text-align: center;
}

.advantages__title {
  max-width: 1000px;
}

.advantages__button {
  grid-area: btn;
  grid-row: span 2;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  border: none;
  background-color: #F9F3EF;
  position: relative;
  justify-self: center;
  align-self: center;
  font-family: 'NinaCTT';
}

.advantages__backlight {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 600px;
  max-height: 600px;
  filter: blur(100px);
}

.advantages__wheel {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  // border: 1px solid black;
  border-radius: 50%;
  animation: rotate-wheel 45s linear infinite;
}

.advantages__wheel-inner {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 0;
  transform-origin: 0% 100%;

}

@keyframes rotate-wheel {
  100% {
    transform: rotate(360deg);
  }
}

.advantages__wheel-content {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 0;
  transform-origin: 0% 100%;
  padding: 0 0 130px;
  font-family: var(--main-font);
  color: var(--hover-color);
  font-weight: normal;
  // font-size: 24px;

}

.advantages__card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  height: 100%;
  min-height: 251px;
  max-width: 436px;
  min-width: 200px;
}

.advantages__card:nth-child(3) {
  grid-area: card1;
  box-shadow:
    -74px 66px 80px rgba(58, 63, 74, 7%),
    -28px 25px 25px rgba(58, 63, 74, 5%),
    -6px 5px 6px rgba(58, 63, 74, 3%);
}

.advantages__card:nth-child(4) {
  grid-area: card2;
  box-shadow:
    -74px 66px 80px rgba(58, 63, 74, 7%),
    -28px 25px 25px rgba(58, 63, 74, 5%),
    -6px 5px 6px rgba(58, 63, 74, 3%);
}

.advantages__card:nth-child(5) {
  grid-area: card3;
  box-shadow:
    -98px 17px 80px rgba(58, 63, 74, 7%),
    -37px 6px 25px rgba(58, 63, 74, 5%),
    -8px 1px 6px rgba(58, 63, 74, 3%);
}

.advantages__card:nth-child(6) {
  grid-area: card4;
  box-shadow:
    0px 100px 80px rgba(58, 63, 74, 7%),
    0px 38px 25px rgba(58, 63, 74, 5%),
    0px 8px 6px rgba(58, 63, 74, 3%);
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.advantages__card-text {
  margin: 30px 0 12px;
}

@media (max-width: 1300px) {
  .advantages__conteiner {
    grid-gap: 40px;
  }
}

@media (max-width: 1000px) {
  .advantages__conteiner {
    grid-template-columns:  repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "card1 card3"
      "card1 card3"
      "card1 btn"
      "card2 btn"
      "card2 card4";
  }

  .advantages__button {
    margin: 30px 0;
  }
}

@media (max-width: 700px) {
  .advantages__conteiner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(auto-fill, minmax(51px, 1fr));
    grid-template-areas:
      "title"
      "card1"
      "card2"
      "card3"
      "card4"
      "btn";
    justify-items: center;
  }
}

@media (max-width: 480px) {
  .advantages__wheel {
    top: 40px;
    left: 40px;
    width: 60%;
    height: 60%;
  }

  .advantages__wheel-content {
    padding: 0 0 100px;

  }
}

.uiverse {
  --duration: 7s;
  --easing: linear;
  --c-color-1: #fdf4ec;
  --c-color-2: #7FCDCD;
  --c-color-3: #fff;
  --c-color-4: #F2E5D9;
  --c-shadow: #F2E5D9;
  --c-shadow-inset-top: #f6e3d2;
  --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
  --c-radial-inner: #F2E5D9;
  --c-radial-outer: #F2E5D9;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  display: table;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
  color: var(--font-color-light);
}

.uiverse:before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top), inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 50%;
  min-width: 196px;
  min-height: 196px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uiverse .wrapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.uiverse .wrapper .circle {
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
  // bottom: 0;
  // margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle-1, .uiverse .wrapper .circle.circle-9, .uiverse .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle-3, .uiverse .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .wrapper .circle.circle-5, .uiverse .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .wrapper .circle.circle-2, .uiverse .wrapper .circle.circle-7, .uiverse .wrapper .circle.circle-8, .uiverse .wrapper .circle.circle-11, .uiverse .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.uiverse .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.uiverse .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.uiverse .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.uiverse .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.uiverse .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.uiverse .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.uiverse .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.uiverse .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.uiverse .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.uiverse .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.uiverse .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}
